<section class="w-full p-7">
    <div class="w-16 h-16 lg:h-0 lg:w-[200px] lg:pb-[200px] object-cover mx-auto">
        <img src="assets/green-tick.png" alt="green-tick">
    </div>
    <div class="sans text-xl lg:text-2xl font-medium text-green-600 text-center">
        Submitted Successfully!
    </div>
    <div class="mt-8 text-center">
        <button class="outline-none bg-blue-600 sans text-base lg:text-xl font-light lg:font-normal px-4 py-1 lg:px-4 lg:py-2 text-white rounded-xl lg:rounded-2xl" [routerLink]="homeLink">Back to Home</button>
    </div>
</section>