<div class="w-full lg:w-[1080px] p-4 mb-8">
    <nav class="w-full flex flex-col-reverse md:flex-row justify-between items-center">
        <div class="p-0 w-24 h-24 lg:w-32 lg:pb-32 lg:h-0 object-contain hidden lg:block">
            <img class="mix-blend-multiply" src="assets/atal-logo.png" alt="atal logo">
        </div>
        <div class="text-center">
            <div class="serif font-normal text-2xl lg:text-3xl">ATAL FACULTY DEVELOPMENT PROGRAM</div>
            
            <div class="sans font-light text-sm lg:text-base">SALESIAN COLLEGE (AUTONOMOUS), SONADA - SILIGURI</div>
        </div>
        <div class="p-0 w-24 h-24 lg:w-32 lg:pb-32 lg:h-0 object-contain overflow-hidden mb-4 lg:mb-0">
            <img src="assets/salesian-logo.png" alt="salesian logo" class="max-h-24 lg:max-h-32 mx-auto">
        </div>
    </nav>
    <div class="w-full rounded-2xl mt-12 card overflow-hidden">
        <section class="w-full md:h-[360px] flex flex-row items-center">
            <div class="w-0 lg:w-[55%] h-full object-cover hidden lg:block">
                <img src="assets/sonada-image.jpg" class="h-full" alt="sonada image">
            </div>
            <div class="w-full lg:w-[45%] px-4 py-8 lg:py-12 lg:px-7 flex flex-col justify-center items-center sans">
                <form class="w-full flex flex-col items-center" [formGroup]="loginForm" (submit)="onSubmitHandler($event)">
                    <div class="w-full">
                        <input type="text" id="user" class="w-full px-4 py-4 bg-gray-100 rounded-2xl text-center" placeholder="User Id" formControlName="userId">
                    </div>
                    <div class="w-full">
                        <input type="password" id="password" class="w-full px-4 py-4 bg-gray-100 rounded-2xl mt-4 text-center" placeholder="Password" formControlName="password">
                    </div>
                    <button type="submit" [class]="(loginForm.valid ? 'bg-[#58B9FF] ' : 'bg-gray-300 ') + 'px-6 py-2 font-medium text-xl text-white  rounded-2xl mt-8'" [disabled]="!loginForm.valid">Login</button>
                </form>
            </div>
        </section>
        
    </div>
</div>