<div class="w-full lg:w-[1080px] p-4 mb-8">
    <nav class="w-full flex flex-row justify-between items-center">
        <div class="lg:w-32 lg:pb-32 h-0 object-contain">
            <img class="mix-blend-multiply" src="assets/atal-logo.png" alt="atal logo">
        </div>
        <div class="text-center">
            <div class="serif font-normal text-3xl">ATAL FACULTY DEVELOPMENT PROGRAM</div>
            
            <div class="sans font-light text-base">SALESIAN COLLEGE (AUTONOMOUS), SONADA - SILIGURI</div>
        </div>
        <div class="lg:w-32 lg:pb-32 h-0 object-contain overflow-hidden">
            <img src="assets/salesian-logo.png" alt="salesian logo" class="lg:max-h-32 mx-auto">
        </div>
    </nav>
    <div class="w-full rounded-2xl mt-12 card overflow-hidden">
        <router-outlet></router-outlet>
    </div>
</div>
