<div class="w-full lg:w-[1080px] p-4 mb-8">
    <nav class="w-full flex flex-col-reverse md:flex-row justify-between items-center">
        <div class="p-0 w-24 h-24 lg:w-32 lg:pb-32 lg:h-0 object-contain hidden lg:block">
            <img class="mix-blend-multiply" src="assets/atal-logo.png" alt="atal logo">
        </div>
        <div class="text-center">
            <div class="serif font-normal text-2xl lg:text-3xl">ATAL FACULTY DEVELOPMENT PROGRAM</div>
            
            <div class="sans font-light text-sm lg:text-base">SALESIAN COLLEGE (AUTONOMOUS), SONADA - SILIGURI</div>
        </div>
        <div class="p-0 w-24 h-24 lg:w-32 lg:pb-32 lg:h-0 object-contain overflow-hidden mb-4 lg:mb-0">
            <img src="assets/salesian-logo.png" alt="salesian logo" class="max-h-24 lg:max-h-32 mx-auto">
        </div>
    </nav>
    <div class="w-full rounded-2xl mt-12 card overflow-hidden">
        <router-outlet></router-outlet>
    </div>
</div>
