<ngx-loading-bar [color]="'#67A0CA'" [includeSpinner]="false" [height]="'4px'" ></ngx-loading-bar>
<div class="w-full min-h-screen relative flex flex-col justify-between items-center">
    <router-outlet></router-outlet>
    <footer class="w-full mt-auto gap-3 text-white serif font-normal py-6 flex flex-col items-center bg-[#486BC7]">
        <div>Copyright © Salesian College (Autonomous) Sonada & Siliguri</div>
        <div>Sonada: salesiancollegesonada@gmail.com / scsviceprincipal@gmail.com</div>
        <div>Siliguri: principal@salesiancollege.net</div>
    </footer>
</div>