<section class="w-full flex flex-col gap-8 justify-center items-center sans p-7">
    <div class="text-2xl font-light">View Report</div>
    <div class="w-full flex flex-col lg:flex-row justify-center items-baseline gap-6">
        <button class="w-1/2 px-5 py-3 text-white font-medium bg-[#D72459] rounded-2xl" [routerLink]="pathcollection[0]">Artificial Intelligence and Cyber Security</button>
        <button class="w-1/2 px-5 py-3 text-white font-medium bg-[#58B9FF] rounded-2xl" [routerLink]="pathcollection[1]">Coastal and Marine Tourism: Opportunities, Challenges and Environmental Concern</button>
    </div>
</section>