<div class="w-full lg:w-[1080px] p-4 pt-0 mb-8">
    <nav class="w-full h-12 flex flex-row justify-center items-center bg-[#486BC7]">
        <!-- <div class="lg:w-32 lg:pb-32 h-0 object-contain overflow-hidden">
            <img src="assets/salesian-logo.png" alt="salesian logo" class="lg:max-h-32 mx-auto">
        </div> -->
        <div class="text-white sans font-medium text-xl my-auto">
            Home
        </div>
    </nav>
    <div class="w-full rounded-2xl mt-12 card overflow-hidden">
        <router-outlet></router-outlet>
    </div>
</div>