<section class="w-full md:h-[360px] flex flex-row items-center">
    <div class="w-0 lg:w-[55%] h-full object-cover">
        <img src="assets/sonada-image.jpg" class="h-full" alt="sonada image">
    </div>
    <div class="w-full lg:w-[45%] lg:py-12 lg:px-7 flex flex-col justify-center items-center sans">
        <div class="font-normal text-3xl mb-6">Register Now</div>
        <div class="w-full">
            <div class="w-full py-3 px-4 bg-[#D72459] text-wrap text-center text-white font-medium rounded-2xl" [routerLink]="cslink">
                Artificial Intelligence and Cyber Security
            </div>
            <div class="w-full py-3 px-4 bg-[#58B9FF] text-wrap text-center text-white font-medium rounded-2xl mt-4" [routerLink]="bbalink">
                Coastal and Marine Tourism: Opportunities, Challenges and Environmental Concern
            </div>
        </div>
    </div>
</section>
